<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Build an online community to assist the expansion of sports education and development for hard-working, dedicated athletes of all sports.
</p>