<% provide(:title, 'About Us') %>
<h1 id="aboutus">About Us</h1>

<div class="title-border">Mission Statement</div>
<div class="center">
<h2>
Build an online community to assist the expansion of sports education and development for hard-working, dedicated athletes of all sports.
</h2>
</div>
<div class="title-border">Background</div>
<div class="center">
<h2>
Pocket Coach was created for you!!! The athlete that is continuously working and studying their game to become better at their craft. With our tools and easy access to reach your coach and/or instructor it is made for you to develop your skills at a high consistent pace to reach your full potential.
</h2>
</div>