
<div class="center">
  <h1 id="punch-line">Welcome to Pocket Coach</h1>

  <h2 id="welcome-line">
    The home of the best interactive experience connecting students and instructors for sports education and development.
    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

