
<div class="center">
  <h1 id="punch-line">Welcome to Pocket Coach</h1>

  <h2 id="welcome-line">
    This is the home page for Pocket Coach
    
  </h2>
  <% if signed_in? %>
  <% else %>
  <h2>Sign up now!</h2>
  <%= link_to "Students", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Instructors", instructorsignup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>

