
<div class="center">
  <h1 id="punch-line">Welcome to Pocket Coach</h1>

  <h2 id="welcome-line">
    This is the home page for Pocket Coach
    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

