<% provide(:title, @instructor.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @instructor %>
        <%= @instructor.name %> 

      </h1>
       <h2>
      	<%= @instructor.facility %> 
      </h2>
    </section>
    
  </aside>

</div>