<% provide(:title, 'facility admin panel') %>

<h1>All instructors of the facility</h1>

<% if !current_student? %>
        <% if current_user.companyadmin? %>
            <% if current_user.company.company_info%>
            <%= link_to "Update company info", edit_company_info_path(:id => @company_info.id), class: "btn btn-large btn-primary" %>
            <% else %>
            <%= link_to "Create company info", new_company_info_path, class: "btn btn-large btn-primary" %>
            <% end %>
        <% end %>
    <% end %>




<ul class="users">
  <%= render @instructors %>
</ul>



